

<div class="topbar">
    <div class="topbar__left">
        <div class="topbar__logo">
            <a class="text-white" routerLink="/">Trift Clothing</a>
        </div>
    </div>
   
    <div class="h1Styles">
  
         <div>
            <a class="text-white" routerLink="/">Home</a>&nbsp;&nbsp;&nbsp;
            <a class="text-white" routerLink="/">Brand</a>&nbsp;&nbsp;&nbsp;
            <a class="text-white" routerLink="/">Shop</a>&nbsp;&nbsp;&nbsp;
            <a class="text-white" routerLink="/">Special</a>&nbsp;&nbsp;&nbsp;
            <a class="text-white" routerLink="/">Let's Talk</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   
    </div>
   
</div>

